<div class="container mt-5">
  <div class="row col-12 justify-content-center ">
    <h2>修改支出明細</h2>
  </div>
  <form action="/records/{{ record._id }}?_method=PUT" method="POST">
    <div class="row">
      <div class="row col-12 justify-content-center ">
        <div class="input-group">
          <div class=" col-4 left mx-auto my-2 d-flex justify-content-end ">
            <h5>名稱* :</h5>
          </div>
          <div class="input-group-append col-8 justify-content-start  ">
            <input class="form-control" type="text" placeholder="午餐,晚餐" name="name" value="{{ record.name }}" required>
          </div>
        </div>
      </div>
    </div>
    <div class=" row">
      <div class="row col-12 justify-content-center ">
        <div class="input-group">
          <div class=" col-4 left my-2 mx-auto d-flex justify-content-end ">
            <h5>日期* :</h5>
          </div>
          <div class="input-group-append col-8 justify-content-start">
            <input class="form-control" type="date" placeholder="2021/03/31" name="date" value="{{ record.date }}"
              required>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row col-12 justify-content-between ">
        <div class="input-group">
          <div class=" col-4 left mx-auto my-2 d-flex justify-content-end ">
            <h5>類別* :</h5>
          </div>
          <div class="input-group-append col-8 justify-content-start">
            <select class="custom-select" name="category">
              {{#each categoryBox }}
              <option value="{{ this.category }}" {{#is this.category ../record.category}} selected  {{/is}}>{{
                this.category
                }}</option>
              {{/each}}
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row col-12  justify-content-between ">
        <div class="input-group">
          <div class=" col-4 left mx-auto my-2 d-flex justify-content-end ">
            <h5>金額* :</h5>
          </div>
          <div class="input-group-append col-8 justify-content-start">
            <input class="form-control" type="number" placeholder="100" name="amount" min="0"
              value="{{ record.amount }}" required>
          </div>
        </div>
      </div>
    </div>
    <div class="row col-12 mx-auto justify-content-center ">
      <button type="submit" class="btn btn-info btn-send-out">送出</button>
      <button type="button" class="btn btn-danger btn-return" id="btn-return"><a href="/">返回</a></button>
    </div>
  </form>
</div>