<div class="container mt-3">
  {{!-- 類別 --}}
  <div class="col-12 col-md-8 mx-auto">
    <div class="row col-12 justify-content-between mt-5">
      <div class=" my-auto ml-4 border border-1">
        <a class="btn btn-warning" href="/records/new">新增支出</a>
      </div>
      <form action="/filter" method="GET">
        <div class=" my-auto ">
            <select name="category" class="form-select" onchange="submit()">
              <option selected>所有類別</option>
              {{#each categoryBox}}
              <option value="{{ this.category}}" {{#ifEq this.category }}  selected {{else}} {{/ifEq}}>{{ this.category }}</option>
              {{/each}}
            </select>
        </div>
      </form>
    </div>
    {{!-- 總支出金額 --}}
    <div class="row col-12 mt-3 justify-content-center align-items-center">
      <div class="total-name text-secondary mx-4">支出總金額 : </div>
      <div class="total-cost text-warning">{{ totalAmount }} 元</div>
    </div>
    {{!-- 各項支出清單 --}}
    <ul class="list-group list-striped">
      {{#each records}}
      <li class="list-group-item list-group-item-primary list-striped  border border-bottom-5 mt-1 ">
        <div class="d-flex justify-content-between">
          <div class="row">
            <div class="icon my-auto mx-3">
              <i class="{{ this.categoryIcon }} fa-4x "></i>
            </div>
            <span class="column ml-3 my-auto">
              <div class="name mx-3">{{ this.name }}</div>
              <div class="date">{{ this.date}}</div>
            </span>
          </div>
          <h3 class="amount my-auto mx-auto">
            花費 : {{ this.amount}} 元
          </h3>
          <div class="button-div ml-3">
            <a class="btn btn-success" href="/records/{{ this._id }}/edit">修改</a>
            <form action="/records/{{ this._id }}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger">刪除</button>
            </form>
          </div>
        </div>
      </li>
      {{/each }}
    </ul>
</div>

<script>


</script>